# Data gathering and creating a dataset without any NaN values

In [1]:
import requests
import pandas as pd

# Used GET method to grab the data from the TMDB API

In [2]:
response=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=a7e784951966bf44afb76db195d4c9f6&language=en-US&page=1').json()

In [3]:
df=pd.DataFrame()

In [4]:
title=[]
vote_average=[]
popularity=[]
vote_count=[]
original_language=[]
overview=[]
release_date=[]

for i in response['results']:
    print(i,i['vote_average'],i['popularity'],i['vote_count'],i['original_language'],i['overview'],i['release_date'])
    title.append(i['title'])
    vote_average.append(i['vote_average'])
    popularity.append(i['popularity'])
    vote_count.append(i['vote_count'])
    original_language.append(i['original_language'])
    overview.append(i['overview'])
    release_date.append(i['release_date'])
d={'title':title,'vote_average':vote_average,'popularity':popularity,'vote_count':vote_count,'original_language':original_language,'overview':overview,'release_date':release_date}
    
df=pd.DataFrame(d)

{'adult': False, 'backdrop_path': '/qxeqKcVBWnQxUp1w6fwWcxZEA6m.jpg', 'genre_ids': [28, 12, 14], 'id': 436270, 'original_language': 'en', 'original_title': 'Black Adam', 'overview': 'Nearly 5,000 years after he was bestowed with the almighty powers of the Egyptian gods—and imprisoned just as quickly—Black Adam is freed from his earthly tomb, ready to unleash his unique form of justice on the modern world.', 'popularity': 6041.545, 'poster_path': '/3zXceNTtyj5FLjwQXuPvLYK5YYL.jpg', 'release_date': '2022-10-19', 'title': 'Black Adam', 'video': False, 'vote_average': 7.2, 'vote_count': 425} 7.2 6041.545 425 en Nearly 5,000 years after he was bestowed with the almighty powers of the Egyptian gods—and imprisoned just as quickly—Black Adam is freed from his earthly tomb, ready to unleash his unique form of justice on the modern world. 2022-10-19
{'adult': False, 'backdrop_path': '/tIX6j3NzadlwGcJ52nuWdmtOQkg.jpg', 'genre_ids': [27, 53, 9648], 'id': 717728, 'original_language': 'en', 'original_title': 'Jeepers Creepers: Reborn', 'overview': 'Forced to travel with her boyfriend to a horror festival, Laine begins to experience disturbing visions associated with the urban legend of The Creeper. As the festival arrives and the blood-soaked entertainment builds to a frenzy, she becomes the center of it while something unearthly has been summoned.', 'popularity': 5365.773, 'poster_path': '/aGBuiirBIQ7o64FmJxO53eYDuro.jpg', 'release_date': '2022-09-15', 'title': 'Jeepers Creepers: Reborn', 'video': False, 'vote_average': 5.7, 'vote_count': 333} 5.7 5365.773 333 en Forced to travel with her boyfriend to a horror festival, Laine begins to experience disturbing visions associated with the urban legend of The Creeper. As the festival arrives and the blood-soaked entertainment builds to a frenzy, she becomes the center of it while something unearthly has been summoned. 2022-09-15
{'adult': False, 'backdrop_path': '/aTovumsNlDjof7YVoU5nW2RHaYn.jpg', 'genre_ids': [27, 53], 'id': 616820, 'original_language': 'en', 'original_title': 'Halloween Ends', 'overview': 'Four years after the events of Halloween in 2018, Laurie has decided to liberate herself from fear and rage and embrace life. But when a young man is accused of killing a boy he was babysitting, it ignites a cascade of violence and terror that will force Laurie to finally confront the evil she can’t control, once and for all.', 'popularity': 3957.709, 'poster_path': '/kFMntvUmKhvw1uAHXecqqNSFXt.jpg', 'release_date': '2022-10-12', 'title': 'Halloween Ends', 'video': False, 'vote_average': 6.7, 'vote_count': 628} 6.7 3957.709 628 en Four years after the events of Halloween in 2018, Laurie has decided to liberate herself from fear and rage and embrace life. But when a young man is accused of killing a boy he was babysitting, it ignites a cascade of violence and terror that will force Laurie to finally confront the evil she can’t control, once and for all. 2022-10-12
{'adult': False, 'backdrop_path': '/5hoS3nEkGGXUfmnu39yw1k52JX5.jpg', 'genre_ids': [28, 12, 14], 'id': 960704, 'original_language': 'ja', 'original_title': '鋼の錬金術師 完結編 最後の錬成', 'overview': 'The Elric brothers’ long and winding journey comes to a close in this epic finale, where they must face off against an unworldly, nationwide threat.', 'popularity': 3476.6, 'poster_path': '/AeyiuQUUs78bPkz18FY3AzNFF8b.jpg', 'release_date': '2022-06-24', 'title': 'Fullmetal Alchemist: The Final Alchemy', 'video': False, 'vote_average': 6.4, 'vote_count': 98} 6.4 3476.6 98 ja The Elric brothers’ long and winding journey comes to a close in this epic finale, where they must face off against an unworldly, nationwide threat. 2022-06-24
{'adult': False, 'backdrop_path': '/5GA3vV1aWWHTSDO5eno8V5zDo8r.jpg', 'genre_ids': [27, 53], 'id': 760161, 'original_language': 'en', 'original_title': 'Orphan: First Kill', 'overview': 'After escaping from an Estonian psychiatric facility, Leena Klammer travels to America by impersonating Esther, the missing daughter of a wealthy family. But when her mask starts to slip, she is put against a mother who will protect her family from the murderous “child” at any cost.', 'popularity': 2955.222, 'poster_path': '/pHkKbIRoCe7zIFvqan9LFSaQAde.jpg', 'release_date': '2022-07-27', 'title': 'Orphan: First Kill', 'video': False, 'vote_average': 6.8, 'vote_count': 1103} 6.8 2955.222 1103 en After escaping from an Estonian psychiatric facility, Leena Klammer travels to America by impersonating Esther, the missing daughter of a wealthy family. But when her mask starts to slip, she is put against a mother who will protect her family from the murderous “child” at any cost. 2022-07-27
{'adult': False, 'backdrop_path': '/1DBDwevWS8OhiT3wqqlW7KGPd6m.jpg', 'genre_ids': [53], 'id': 985939, 'original_language': 'en', 'original_title': 'Fall', 'overview': 'For best friends Becky and Hunter, life is all about conquering fears and pushing limits. But after they climb 2,000 feet to the top of a remote, abandoned radio tower, they find themselves stranded with no way down. Now Becky and Hunter’s expert climbing skills will be put to the ultimate test as they desperately fight to survive the elements, a lack of supplies, and vertigo-inducing heights', 'popularity': 2483.067, 'poster_path': '/spCAxD99U1A6jsiePFoqdEcY0dG.jpg', 'release_date': '2022-08-11', 'title': 'Fall', 'video': False, 'vote_average': 7.3, 'vote_count': 1526} 7.3 2483.067 1526 en For best friends Becky and Hunter, life is all about conquering fears and pushing limits. But after they climb 2,000 feet to the top of a remote, abandoned radio tower, they find themselves stranded with no way down. Now Becky and Hunter’s expert climbing skills will be put to the ultimate test as they desperately fight to survive the elements, a lack of supplies, and vertigo-inducing heights 2022-08-11
{'adult': False, 'backdrop_path': '/etP5jwlwvkNhwe7jnI2AyA6ZKrR.jpg', 'genre_ids': [878], 'id': 575322, 'original_language': 'en', 'original_title': 'Звёздный разум', 'overview': "After depleting Earth's resources for centuries, humankind's survival requires an exodus to outer space. An international expedition is quickly formed to find a suitable new planet, but when plans go awry, the crew is suddenly stranded without power on a strange planet, where something unimaginable lies in wait.", 'popularity': 2448.593, 'poster_path': '/aVLV38txajXhEy2qNEClPIsDbAH.jpg', 'release_date': '2022-01-06', 'title': 'Project Gemini', 'video': False, 'vote_average': 5.5, 'vote_count': 129} 5.5 2448.593 129 en After depleting Earth's resources for centuries, humankind's survival requires an exodus to outer space. An international expedition is quickly formed to find a suitable new planet, but when plans go awry, the crew is suddenly stranded without power on a strange planet, where something unimaginable lies in wait. 2022-01-06
{'adult': False, 'backdrop_path': '/zt6sKnx9dEiRCb7oVMlfmmMGJMO.jpg', 'genre_ids': [28, 35, 53], 'id': 718930, 'original_language': 'en', 'original_title': 'Bullet Train', 'overview': "Unlucky assassin Ladybug is determined to do his job peacefully after one too many gigs gone off the rails. Fate, however, may have other plans, as Ladybug's latest mission puts him on a collision course with lethal adversaries from around the globe—all with connected, yet conflicting, objectives—on the world's fastest train.", 'popularity': 2412.858, 'poster_path': '/tVxDe01Zy3kZqaZRNiXFGDICdZk.jpg', 'release_date': '2022-07-03', 'title': 'Bullet Train', 'video': False, 'vote_average': 7.5, 'vote_count': 1969} 7.5 2412.858 1969 en Unlucky assassin Ladybug is determined to do his job peacefully after one too many gigs gone off the rails. Fate, however, may have other plans, as Ladybug's latest mission puts him on a collision course with lethal adversaries from around the globe—all with connected, yet conflicting, objectives—on the world's fastest train. 2022-07-03
{'adult': False, 'backdrop_path': '/y5Z0WesTjvn59jP6yo459eUsbli.jpg', 'genre_ids': [27, 53], 'id': 663712, 'original_language': 'en', 'original_title': 'Terrifier 2', 'overview': "After being resurrected by a sinister entity, Art the Clown returns to Miles County where he must hunt down and destroy a teenage girl and her younger brother on Halloween night.  As the body count rises, the siblings fight to stay alive while uncovering the true nature of Art's evil intent.", 'popularity': 2357.513, 'poster_path': '/mUEojN1bfXS8mk4D6Pf0Q1JYwMJ.jpg', 'release_date': '2022-10-06', 'title': 'Terrifier 2', 'video': False, 'vote_average': 7.7, 'vote_count': 51} 7.7 2357.513 51 en After being resurrected by a sinister entity, Art the Clown returns to Miles County where he must hunt down and destroy a teenage girl and her younger brother on Halloween night.  As the body count rises, the siblings fight to stay alive while uncovering the true nature of Art's evil intent. 2022-10-06
{'adult': False, 'backdrop_path': '/mMA2YNddowV8MZtxpbn0a7Yilum.jpg', 'genre_ids': [10752, 36, 28, 18], 'id': 928123, 'original_language': 'zh', 'original_title': '长津湖之水门桥', 'overview': 'In the follow-up to "The Battle At Lake Changjin", brothers Wu Qianli and Wu Wanli undertake a new task for the People\'s Volunteer Army, defending a bridge part of the American troops\' escape route from the advancing Chinese.', 'popularity': 2352.585, 'poster_path': '/ugiL6wIhl1OfPyv1gqLkTe45jLl.jpg', 'release_date': '2022-02-01', 'title': 'The Battle at Lake Changjin: Water Gate Bridge', 'video': False, 'vote_average': 6.3, 'vote_count': 19} 6.3 2352.585 19 zh In the follow-up to "The Battle At Lake Changjin", brothers Wu Qianli and Wu Wanli undertake a new task for the People's Volunteer Army, defending a bridge part of the American troops' escape route from the advancing Chinese. 2022-02-01
{'adult': False, 'backdrop_path': '/y59qFOlmRKfRKIWzxuzUf0mDc4G.jpg', 'genre_ids': [27], 'id': 1024530, 'original_language': 'en', 'original_title': 'Grimcutty', 'overview': 'A suburban teen girl and her little brother must stop a terrifying internet meme brought to life by the hysteria of their parents.', 'popularity': 2346.774, 'poster_path': '/qvg75YJMfbHeDNirUrrgBMQImRn.jpg', 'release_date': '2022-10-10', 'title': 'Grimcutty', 'video': False, 'vote_average': 5.8, 'vote_count': 152} 5.8 2346.774 152 en A suburban teen girl and her little brother must stop a terrifying internet meme brought to life by the hysteria of their parents. 2022-10-10
{'adult': False, 'backdrop_path': '/ghsPsvM0sEztdNT4kUlTsBF2LEF.jpg', 'genre_ids': [18, 28, 53], 'id': 852046, 'original_language': 'fr', 'original_title': 'Athena', 'overview': 'Hours after the tragic death of their youngest brother in unexplained circumstances, three siblings have their lives thrown into chaos.', 'popularity': 2186.455, 'poster_path': '/fenNPxVF5ERy0CSyVruuEg959Hg.jpg', 'release_date': '2022-09-09', 'title': 'Athena', 'video': False, 'vote_average': 6.6, 'vote_count': 303} 6.6 2186.455 303 fr Hours after the tragic death of their youngest brother in unexplained circumstances, three siblings have their lives thrown into chaos. 2022-09-09
{'adult': False, 'backdrop_path': '/iS9U3VHpPEjTWnwmW56CrBlpgLj.jpg', 'genre_ids': [14, 35, 10751], 'id': 642885, 'original_language': 'en', 'original_title': 'Hocus Pocus 2', 'overview': "It's been 29 years since someone lit the Black Flame Candle and resurrected the 17th-century sisters, and they are looking for revenge. Now it's up to three high-school students to stop the ravenous witches from wreaking a new kind of havoc on Salem before dawn on All Hallow's Eve.", 'popularity': 2111.004, 'poster_path': '/7ze7YNmUaX81ufctGqt0AgHxRtL.jpg', 'release_date': '2022-09-27', 'title': 'Hocus Pocus 2', 'video': False, 'vote_average': 7.6, 'vote_count': 863} 7.6 2111.004 863 en It's been 29 years since someone lit the Black Flame Candle and resurrected the 17th-century sisters, and they are looking for revenge. Now it's up to three high-school students to stop the ravenous witches from wreaking a new kind of havoc on Salem before dawn on All Hallow's Eve. 2022-09-27
{'adult': False, 'backdrop_path': '/7AiIrnDMaOhPrw9elJ5NNjijTW4.jpg', 'genre_ids': [53, 9648], 'id': 916605, 'original_language': 'en', 'original_title': 'The Infernal Machine', 'overview': "Reclusive and controversial author Bruce Cogburn is drawn out of hiding by an obsessive fan, forcing the novelist to confront a past that he thought he could escape, and to account for events set in motion by his bestseller decades earlier. Cogburn's search for who is behind the manipulation and mental torment he encounters leads to an emotional roller-coaster ride full of fear and danger, where things are not always as clear as they seem to be, and where past deeds can have dire consequences.", 'popularity': 2076.136, 'poster_path': '/bSqpOGzaKBdGkBLmcm1JJIVryYy.jpg', 'release_date': '2022-09-23', 'title': 'The Infernal Machine', 'video': False, 'vote_average': 7, 'vote_count': 91} 7 2076.136 91 en Reclusive and controversial author Bruce Cogburn is drawn out of hiding by an obsessive fan, forcing the novelist to confront a past that he thought he could escape, and to account for events set in motion by his bestseller decades earlier. Cogburn's search for who is behind the manipulation and mental torment he encounters leads to an emotional roller-coaster ride full of fear and danger, where things are not always as clear as they seem to be, and where past deeds can have dire consequences. 2022-09-23
{'adult': False, 'backdrop_path': '/aIkG2V4UXrfkxMdJZmq30xO0QQr.jpg', 'genre_ids': [878, 12, 28], 'id': 791155, 'original_language': 'en', 'original_title': 'Secret Headquarters', 'overview': 'While hanging out after school, Charlie and his friends discover the headquarters of the world’s most powerful superhero hidden beneath his home. When villains attack, they must team up to defend the headquarters and save the world.', 'popularity': 2058.629, 'poster_path': '/8PsHogUfvjWPGdWAI5uslDhHDx7.jpg', 'release_date': '2022-08-12', 'title': 'Secret Headquarters', 'video': False, 'vote_average': 6.8, 'vote_count': 122} 6.8 2058.629 122 en While hanging out after school, Charlie and his friends discover the headquarters of the world’s most powerful superhero hidden beneath his home. When villains attack, they must team up to defend the headquarters and save the world. 2022-08-12
{'adult': False, 'backdrop_path': '/mjV9gpXO2R2SOYI4ChJZiu6F1OE.jpg', 'genre_ids': [28, 12, 53], 'id': 759507, 'original_language': 'en', 'original_title': 'Blackout', 'overview': 'A man wakes in a hospital with no memory, and quickly finds himself on the run in a locked down hospital with the Cartel on his tail.', 'popularity': 1888.472, 'poster_path': '/xDgnmbdWS59NtTPdzujdZGuPUPZ.jpg', 'release_date': '2022-10-12', 'title': 'Blackout', 'video': False, 'vote_average': 5.5, 'vote_count': 52} 5.5 1888.472 52 en A man wakes in a hospital with no memory, and quickly finds himself on the run in a locked down hospital with the Cartel on his tail. 2022-10-12
{'adult': False, 'backdrop_path': '/nnUQqlVZeEGuCRx8SaoCU4XVHJN.jpg', 'genre_ids': [14, 12, 10751], 'id': 532639, 'original_language': 'en', 'original_title': 'Pinocchio', 'overview': 'A wooden puppet embarks on a thrilling adventure to become a real boy.', 'popularity': 1581.168, 'poster_path': '/g8sclIV4gj1TZqUpnL82hKOTK3B.jpg', 'release_date': '2022-09-07', 'title': 'Pinocchio', 'video': False, 'vote_average': 6.7, 'vote_count': 969} 6.7 1581.168 969 en A wooden puppet embarks on a thrilling adventure to become a real boy. 2022-09-07
{'adult': False, 'backdrop_path': '/naNXYdBzTEb1KwOdi1RbBkM9Zv1.jpg', 'genre_ids': [27, 53], 'id': 420634, 'original_language': 'en', 'original_title': 'Terrifier', 'overview': 'On Halloween night, a young woman finds herself as the obsession of a sadistic murderer known as Art the Clown.', 'popularity': 1524.631, 'poster_path': '/6PQqC4SbY910VvyVad6mvsboILU.jpg', 'release_date': '2016-10-15', 'title': 'Terrifier', 'video': False, 'vote_average': 6.5, 'vote_count': 700} 6.5 1524.631 700 en On Halloween night, a young woman finds herself as the obsession of a sadistic murderer known as Art the Clown. 2016-10-15
{'adult': False, 'backdrop_path': '/2k9tBql5GYH328Krj66tDT9LtFZ.jpg', 'genre_ids': [53, 12, 27], 'id': 760741, 'original_language': 'en', 'original_title': 'Beast', 'overview': 'A recently widowed man and his two teenage daughters travel to a game reserve in South Africa. However, their journey of healing soon turns into a fight for survival when a bloodthirsty lion starts to stalk them.', 'popularity': 1493.128, 'poster_path': '/xIGr7UHsKf0URWmyyd5qFMAq4d8.jpg', 'release_date': '2022-08-11', 'title': 'Beast', 'video': False, 'vote_average': 7, 'vote_count': 706} 7 1493.128 706 en A recently widowed man and his two teenage daughters travel to a game reserve in South Africa. However, their journey of healing soon turns into a fight for survival when a bloodthirsty lion starts to stalk them. 2022-08-11
{'adult': False, 'backdrop_path': '/rgZ3hdzgMgYgzvBfwNEVW01bpK1.jpg', 'genre_ids': [28, 53, 18], 'id': 429473, 'original_language': 'en', 'original_title': 'Lou', 'overview': 'A young girl is kidnapped during a powerful storm. Her mother joins forces with her mysterious neighbour to set off in pursuit of the kidnapper. Their journey will test their limits and expose the dark secrets of their past.', 'popularity': 1457.168, 'poster_path': '/djM2s4wSaATn4jVB33cV05PEbV7.jpg', 'release_date': '2022-09-23', 'title': 'Lou', 'video': False, 'vote_average': 6.6, 'vote_count': 307} 6.6 1457.168 307 en A young girl is kidnapped during a powerful storm. Her mother joins forces with her mysterious neighbour to set off in pursuit of the kidnapper. Their journey will test their limits and expose the dark secrets of their past. 2022-09-23

# Created a DataFrame with the data inside 'd' dictionary that i got from the API's frist page

In [5]:
df

,title,vote_average,popularity,vote_count,original_language,overview,release_date
0,Black Adam,7.2,6041.545,425,en,"Nearly 5,000 years after he was bestowed with ...",2022-10-19
1,Jeepers Creepers: Reborn,5.7,5365.773,333,en,Forced to travel with her boyfriend to a horro...,2022-09-15
2,Halloween Ends,6.7,3957.709,628,en,Four years after the events of Halloween in 20...,2022-10-12
3,Fullmetal Alchemist: The Final Alchemy,6.4,3476.600,98,ja,The Elric brothers’ long and winding journey c...,2022-06-24
4,Orphan: First Kill,6.8,2955.222,1103,en,After escaping from an Estonian psychiatric fa...,2022-07-27
5,Fall,7.3,2483.067,1526,en,"For best friends Becky and Hunter, life is all...",2022-08-11
6,Project Gemini,5.5,2448.593,129,en,After depleting Earth's resources for centurie...,2022-01-06
7,Bullet Train,7.5,2412.858,1969,en,Unlucky assassin Ladybug is determined to do h...,2022-07-03
8,Terrifier 2,7.7,2357.513,51,en,"After being resurrected by a sinister entity, ...",2022-10-06
9,The Battle at Lake Changjin: Water Gate Bridge,6.3,2352.585,19,zh,"In the follow-up to ""The Battle At Lake Changj...",2022-02-01
10,Grimcutty,5.8,2346.774,152,en,A suburban teen girl and her little brother mu...,2022-10-10
11,Athena,6.6,2186.455,303,fr,Hours after the tragic death of their youngest...,2022-09-09
12,Hocus Pocus 2,7.6,2111.004,863,en,It's been 29 years since someone lit the Black...,2022-09-27
13,The Infernal Machine,7.0,2076.136,91,en,Reclusive and controversial author Bruce Cogbu...,2022-09-23
14,Secret Headquarters,6.8,2058.629,122,en,"While hanging out after school, Charlie and hi...",2022-08-12
15,Blackout,5.5,1888.472,52,en,"A man wakes in a hospital with no memory, and ...",2022-10-12
16,Pinocchio,6.7,1581.168,969,en,A wooden puppet embarks on a thrilling adventu...,2022-09-07
17,Terrifier,6.5,1524.631,700,en,"On Halloween night, a young woman finds hersel...",2016-10-15
18,Beast,7.0,1493.128,706,en,A recently widowed man and his two teenage dau...,2022-08-11
19,Lou,6.6,1457.168,307,en,A young girl is kidnapped during a powerful st...,2022-09-23

# Complete programme for cretaing data set from TMDB movie database which is of 500 json pages when we view it from jason online viewer
# Using for loop to iterate through all the pages and append all the data to the corresponding empty list

In [6]:
import requests
import pandas as pd

In [7]:
movie_dataset=pd.DataFrame()
for j in range(1,500):
    response=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=a7e784951966bf44afb76db195d4c9f6&language=en-US&page={}'.format(j)).json()
    title=[]
    vote_average=[]
    popularity=[]
    vote_count=[]
    original_language=[]
    overview=[]
    release_date=[]
    for i in response['results']:
        try:
            release_date.append(i['release_date'])
        except KeyError:
            continue 

        title.append(i['title'])
        vote_average.append(i['vote_average'])
        popularity.append(i['popularity'])
        vote_count.append(i['vote_count'])
        original_language.append(i['original_language'])
        overview.append(i['overview'])
        release_date.append(i['release_date'])
        
    
    d={'title':title,'vote_average':vote_average,'popularity':popularity,'vote_count':vote_count,'original_language':original_language,'overview':overview,'release_date':release_date}
    d = dict([ (k,pd.Series(v)) for k,v in d.items() ])
    df=pd.DataFrame(d) 
    movie_dataset=pd.concat([df,movie_dataset],ignore_index=True)

In [8]:
   movie_dataset

,title,vote_average,popularity,vote_count,original_language,overview,release_date
0,Slate,5.3,11.813,9.0,ko,Yeon-hee always had dreams of becoming a heroi...,2020-10-24
1,Days of Heaven,7.5,11.972,800.0,en,"In 1916, a Chicago steel worker accidentally k...",2020-10-24
2,Dear Dictator,5.6,11.812,136.0,en,When political turmoil forces a British-Caribb...,1978-09-13
3,Dangerous Liaisons,5.8,11.807,193.0,fr,The innocent Célène might be falling in love w...,1978-09-13
4,Scanners,6.7,10.221,927.0,en,After a man with extraordinary—and frightening...,2018-03-16
...,...,...,...,...,...,...,...
19933,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-15
19934,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-11
19935,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-11
19936,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-23
19937,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-23

In [9]:
movie_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19938 entries, 0 to 19937
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              9969 non-null   object
 1   vote_average       9969 non-null   float64
 2   popularity         9969 non-null   float64
 3   vote_count         9969 non-null   float64
 4   original_language  9969 non-null   object
 5   overview           9969 non-null   object
 6   release_date       19938 non-null  object
dtypes: float64(3), object(4)
memory usage: 1.1+ MB

In [10]:
movie_dataset.isna().sum()

title                9969
vote_average         9969
popularity           9969
vote_count           9969
original_language    9969
overview             9969
release_date            0
dtype: int64

# Showing the first 10 rows of the raw datset

In [11]:
movie_dataset.head(10)

,title,vote_average,popularity,vote_count,original_language,overview,release_date
0,Slate,5.3,11.813,9.0,ko,Yeon-hee always had dreams of becoming a heroi...,2020-10-24
1,Days of Heaven,7.5,11.972,800.0,en,"In 1916, a Chicago steel worker accidentally k...",2020-10-24
2,Dear Dictator,5.6,11.812,136.0,en,When political turmoil forces a British-Caribb...,1978-09-13
3,Dangerous Liaisons,5.8,11.807,193.0,fr,The innocent Célène might be falling in love w...,1978-09-13
4,Scanners,6.7,10.221,927.0,en,After a man with extraordinary—and frightening...,2018-03-16
5,The Hole,6.2,14.272,684.0,en,Four teenagers at a British private school sec...,2018-03-16
6,The Iron Lady,6.4,14.224,1486.0,en,"A look at the life of Margaret Thatcher, the f...",2022-07-08
7,Up in Smoke,6.8,9.771,463.0,en,An unemployed pot-smoking slacker and amateur ...,2022-07-08
8,They,4.9,11.522,205.0,en,After witnessing a horrific and traumatic even...,1981-01-14
9,Stand Up Guys,6.0,11.804,776.0,en,After serving 28 years in prison for accidenta...,1981-01-14

# Showing the bottom 10 rows using tail()

In [12]:
 movie_dataset.tail(10)

,title,vote_average,popularity,vote_count,original_language,overview,release_date
19928,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-12
19929,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-12
19930,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-07
19931,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-07
19932,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-15
19933,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-15
19934,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-11
19935,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-11
19936,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-23
19937,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-23

# Checking the shape

In [13]:
 movie_dataset.shape

(19938, 7)

#  Counted the no of NaN values in raw dataset

In [14]:
count_nan =  movie_dataset.isna().sum()

In [15]:
count_nan

title                9969
vote_average         9969
popularity           9969
vote_count           9969
original_language    9969
overview             9969
release_date            0
dtype: int64

# we found out that there are so many NaN values .
# Now by using dropna() removing all the rows with NaN

In [16]:
new_movie_dataset= movie_dataset.dropna()

# we got the new movie data frame but the index is not in order
# I used reset_index () to set the order of index

In [17]:
new_movie_dataset

,title,vote_average,popularity,vote_count,original_language,overview,release_date
0,Slate,5.3,11.813,9.0,ko,Yeon-hee always had dreams of becoming a heroi...,2020-10-24
1,Days of Heaven,7.5,11.972,800.0,en,"In 1916, a Chicago steel worker accidentally k...",2020-10-24
2,Dear Dictator,5.6,11.812,136.0,en,When political turmoil forces a British-Caribb...,1978-09-13
3,Dangerous Liaisons,5.8,11.807,193.0,fr,The innocent Célène might be falling in love w...,1978-09-13
4,Scanners,6.7,10.221,927.0,en,After a man with extraordinary—and frightening...,2018-03-16
...,...,...,...,...,...,...,...
19913,Blackout,5.5,1888.472,52.0,en,"A man wakes in a hospital with no memory, and ...",2022-07-03
19914,Pinocchio,6.7,1581.168,969.0,en,A wooden puppet embarks on a thrilling adventu...,2022-10-06
19915,Terrifier,6.5,1524.631,700.0,en,"On Halloween night, a young woman finds hersel...",2022-10-06
19916,Beast,7.0,1493.128,706.0,en,A recently widowed man and his two teenage dau...,2022-02-01
19917,Lou,6.6,1457.168,307.0,en,A young girl is kidnapped during a powerful st...,2022-02-01

In [18]:
new_movie_dataset.shape

(9969, 7)

In [19]:
new_movie_dataset.reset_index(inplace=True, drop=True)

In [20]:
new_movie_dataset

,title,vote_average,popularity,vote_count,original_language,overview,release_date
0,Slate,5.3,11.813,9.0,ko,Yeon-hee always had dreams of becoming a heroi...,2020-10-24
1,Days of Heaven,7.5,11.972,800.0,en,"In 1916, a Chicago steel worker accidentally k...",2020-10-24
2,Dear Dictator,5.6,11.812,136.0,en,When political turmoil forces a British-Caribb...,1978-09-13
3,Dangerous Liaisons,5.8,11.807,193.0,fr,The innocent Célène might be falling in love w...,1978-09-13
4,Scanners,6.7,10.221,927.0,en,After a man with extraordinary—and frightening...,2018-03-16
...,...,...,...,...,...,...,...
9964,Blackout,5.5,1888.472,52.0,en,"A man wakes in a hospital with no memory, and ...",2022-07-03
9965,Pinocchio,6.7,1581.168,969.0,en,A wooden puppet embarks on a thrilling adventu...,2022-10-06
9966,Terrifier,6.5,1524.631,700.0,en,"On Halloween night, a young woman finds hersel...",2022-10-06
9967,Beast,7.0,1493.128,706.0,en,A recently widowed man and his two teenage dau...,2022-02-01
9968,Lou,6.6,1457.168,307.0,en,A young girl is kidnapped during a powerful st...,2022-02-01

In [21]:
new_movie_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9969 entries, 0 to 9968
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              9969 non-null   object
 1   vote_average       9969 non-null   float64
 2   popularity         9969 non-null   float64
 3   vote_count         9969 non-null   float64
 4   original_language  9969 non-null   object
 5   overview           9969 non-null   object
 6   release_date       9969 non-null   object
dtypes: float64(3), object(4)
memory usage: 545.3+ KB

In [22]:
new_movie_dataset.isna().sum()

title                0
vote_average         0
popularity           0
vote_count           0
original_language    0
overview             0
release_date         0
dtype: int64

# Finally created a meaningful Data set with 9969 rows and 7 columns!